@model UserApp.Web.Utility.PaginatedList<UserApp.Web.Models.Profile>

@{
    ViewData["Title"] = "Users";
}

<h1>All Users list</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Email
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="card-img">
                        @if (!string.IsNullOrEmpty(item.ImageBase64))
                        {
                            <img src="data:image/jpeg;base64,@item.ImageBase64" class="rounded float-start impg fluid img-userlist" alt="...">
                        }
                        else
                        {
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_VQvuRo4SyQr1uhvdXwmgJYYX5pj7Yr_qcw&usqp=CAU" class="rounded float-start impg fluid img-userlist" alt="...">
                        }
                    </div>
                </td>
                <td>
                    <a type="button" asp-controller="User" asp-action="Profile" asp-route-id="@item.Id" style="color: black;">@Html.DisplayFor(modelItem => item.FirstName)</a>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <div>
                        <a asp-controller="User" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                            </svg>
                        </a>

                        <a asp-controller="User" asp-action="Delete" asp-route-userId="@item.Id" class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                        </a>
                    </div>

                </td>

            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Nextpage ? "disabled" : "";
}
<div class="row justify-content-center">
    <div>
        <a asp-action="Users" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-dark @prevDisabled">Previous</a>
    </div>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
      <div class="pl-2">
         <a class="page-link" asp-action="Users" asp-route-pageNumber="@(i-1)">@i</a>
      </div>
    }
    
    <div class="pl-2">
        <a asp-action="Users" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-dark @nextDisabled">Next</a>
    </div>
</div>
